<h1>Gráfica de Barras</h1>
<hr>
<div class="row">
        <app-grafica-barra></app-grafica-barra>
</div>



<!-- <canvas baseChart class="chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
</canvas>

<button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <a class="navbar-brand" href="#">NG2-CHARTS DEMO</a>
</nav> -->

<!-- <div class="container">
    <div class="card mt-2">
        <div class="card-body">
            <h4 class="card-title">Bar Chart</h4>
            <canvas baseChart [data]="salesData" [type]="'bar'" [options]="chartOptions">
            </canvas>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <h4 class="card-title">Line Chart</h4>
            <canvas baseChart [data]="salesData" [type]="'line'" [options]="chartOptions">
            </canvas>
        </div>
    </div>
</div> -->